# fichier de configuration de dnsmasq

domain-needed
expand-hosts
bogus-priv

interface=eth1
cache-size=256

# réseau local 192.168.1.10-192.168.1.100
dhcp-range=192.168.1.10,192.168.1.100,24h
dhcp-option=23.64

# adresse IP fixe pour la machine
dhcp-host=00:40:F4:6c:43:AF ,machinefixe,192.168.50.0
